<h2><%= t('user.session.new.title') %></h2>

<%#= form_for(resource, as: resource_name, url: user_session_path(resource_name)) do |f| %>
<%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
  <!--div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true %>
  </div-->

  <!--div class="field">
    <%#= f.label :pin %><br />
    <%#= f.number_field :userpin, autofocus: true, min: 1 %>
  </div-->

  <div class="field">
    <%= f.label :pin %><br />
    <%= f.number_field :pin, autofocus: true, min: 1 %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%#= f.submit "Log in" %>
    <%= f.submit %>
  </div>
<% end %>

<%= render "users/shared/links" %>
