<%#= @papers_list.map{ |p| %w[en ru].map{ |lang| p['text']['title'][lang] }.join(" | ") }.inspect %>


<%= form_tag import_conf_papers_library_items_path(library_item: @library_item_id), method: :post, remote: true do %>
            <div class="list-group">
              <% @papers_list.each do |p| %>
                <% if p['text'] && p['text']['title'] %>
                  <%#= link_to "#", class: "list-group-item" do %>
                  <div class="list-group-item">
                    <p class="list-group-item-text">
	                    <%= check_box_tag(:'papers[]', p['_id'], false, class: 'papers_list_checkbox') %>
                    	<%= %w[en ru].map { |lang| p['text']['title'][lang].to_s }.join(' | ') %>
                    </p>
                   </div>
                  <%# end %>
                <% end %>
              <% end %>
            </div>


<div class="form-group">
<%= label_tag 'select_deselect_all', classs: 'category_select', class: "form-control" do %>
	<%= t('library.item.show.modal.select_all') %> <%= check_box_tag('select_deselect_all', 1) %>
<% end %>
<%= select_tag :lang, options_for_select([:en, :ru]), class: "form-control" %>
</div>

<div class="form-group">
<%= submit_tag t('library.item.show.modal.import_selected'), class: "btn btn-primary" %>
</div>

<% end %>

<script type="text/javascript">
	var flag = true;
//	alert("loaded");
//$('#importItemsModal').on('shown.bs.modal', function() {
$('#select_deselect_all').on('change', function() {
	$('.papers_list_checkbox').prop("checked", $(this).is(":checked"));
});
</script>


