
      <%= content_tag_for(:div, @library_item_files) do |item_file| %>
        <div class="list-group-item">
        <%= link_to item_file.file.url, target: '_blank', cclass: "list-group-item" do %>
          <span class="glyphicon glyphicon-save"></span>
          <%= item_file.file_type %>
        <% end %>
              <%= link_to file_delete_library_item_path(@library_item, item_file: item_file.sid), remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link btn-sm bbtn-danger pull-right' do %>
                [&times;]
              <% end if @can_edit %>
        </div>
      <% end %>
