<%= form_for(@library_item, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @library_item.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@library_item.errors.count, "error") %> prohibited this library_item from being saved:</h4>

      <ul>
      <% @library_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= @parent_item ? f.hidden_field(:parent_id) : '' %>
  <div class="form-group">
    <%= f.label :is_dir, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :is_dir, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :item_type, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :item_type, options_for_select(Library::Item::ITEMTYPES, @library_item.item_type), :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :subtitle, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :subtitle, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :abstract, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :abstract, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
