
      <%= content_tag_for(:div, @library_items) do |item| %>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">
      <%= link_to library_item_path item do %>
        <span class="glyphicon glyphicon-<%= item.is_dir ? 'folder-close' : 'file' %>"></span>
        <%= item.title %>
      <% end %>
    </h4>
    <p class="list-group-item-text"><%= item.subtitle %></p>
    <!--p class="list-group-item-text"><%= item.abstract %></p-->
    <!--p class="list-group-item-text"><%#= link_to 'Admin', edit_ws_process_path(ws_process), :cclass => 'btn btn-success' %></p-->
  </div>
      <% end %>
