<%# if @can_edit %>
//	alert('success!');
//	$('#importItemsBody').html("<%= escape_javascript render('files_list') %>");
	$('#importItemsBody').html("rtw ewerkjnewl werhbw erl hwbergj whebr kjwbehrk wjerhb wkejrhb wkejrhbw ekrjg bhwerkgj ehwbr gkjwhegkj wherbgk jwhrebkwjehb kwjehrtbkwejrh btwkerjth bwekjrt bwkejthb wkejrhtbwkejrth wbekrj");
<%# end %>