<%# if @can_edit %>
	//alert('success!');
	$('#importItemsPapers').html("<%= escape_javascript render('conf_papers_list') %>");
	$('#importItemsConfs .list-group-item').removeClass("active");
	$('#conf_<%= @conf_id %>').addClass("active");
//	$('#conf_'+@conf_id).addClass("active");
<%# end %>