<div class="page-header">
  <%= link_to library_items_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t('library.item.edit.back_btn') %>
  <% end %>
  <%= link_to @library_item, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    <%= t('library.item.edit.show_btn') %>
  <% end %>
  <h1><%= t('library.item.edit.title') %></h1>
</div>

<%= render 'form' %>
