<%# if @can_edit %>
//	alert('import!');

	$('#importItemsModal').modal('hide');
	$('#importItemsModal2').modal('hide');
//	$('#importItemsPapers').html("");

//alert('import ok');

//	alert("<%= escape_javascript render('show_children_list') %>");

	$('#children_list').html("<%= escape_javascript render('show_children_list') %>");

//	$('#children_list').html("<%= escape_javascript "aaaaaaaaaaaaaaaaaaa" %>");

<%# puts escape_javascript(render('show_children_list')) %>



//	$('#importItemsConfs .list-group-item').removeClass("active");
//	$('#conf_<%#= @conf_id %>').addClass("active");

//	$('#conf_'+@conf_id).addClass("active");
<%# end %>