<%#= render template: 'items/show' %>


<!-- div class="page-header">
  <%= link_to new_library_item_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Item
  <% end %>
  <h1>Listing library_items</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Sid</th>
            <th>Parent</th>
            <th>Aasm state</th>
            <th>Position</th>
            <th>Item type</th>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Abstract</th>
            <th>Children seq</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @library_items) do |library_item| %>
            <td><%= library_item.sid %></td>
            <td><%= library_item.parent %></td>
            <td><%= library_item.aasm_state %></td>
            <td><%= library_item.position %></td>
            <td><%= library_item.item_type %></td>
            <td><%= library_item.title %></td>
            <td><%= library_item.subtitle %></td>
            <td><%= library_item.abstract %></td>
            <td><%= library_item.children_seq %></td>
            <td><%= link_to 'Show', library_item %></td>
        <td><%= link_to 'Edit', edit_library_item_path(library_item) %></td>
        <td><%= link_to 'Destroy', library_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div -->
