<div class="page-header">
  <%= link_to library_items_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t('library.item.new.back_btn') %>
  <% end %>
  <h1><%= t('library.item.new.title') %></h1>
</div>

<%= render 'form' %>
