
  <div class="ppage-header text-center">
    <h1 class=""><%= "#{t('library.search.results_for')} #{@search_query}" %></h1>
  </div>


<section>

<div class="list-group lib-item-children" id="children_list">
<%#= render 'show_children_list' %>



	<% @library_items.each_with_hit do |item, hit| %>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">
      <%= link_to library_item_path item do %>
        <span class="glyphicon glyphicon-<%= item.is_dir ? 'folder-close' : 'file' %>"></span>
        <%= item.title %>
      <% end %>
    </h4>
    <p class="list-group-item-text"><%= item.subtitle %></p>
    <!--p class="list-group-item-text"><%= item.abstract %></p-->
    <!--p class="list-group-item-text"><%#= link_to 'Admin', edit_ws_process_path(ws_process), :cclass => 'btn btn-success' %></p-->
    <div class="list-group-item-text small"><b><%= hit._score %></b></div>
  </div>
	<% end %>



</div>


</section>


