
<% if @library_item %>
  <% if @can_edit %>
  <div class="btn-block text-right">
    <%= link_to @library_item.parent ? library_item_path(@library_item.parent) : library_root_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t('library.item.show.back_btn') %>
    <% end if false %>
    <%= link_to edit_library_item_path(@library_item), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <%= t('library.item.show.edit_btn') %>
    <% end %>
    <%= link_to @library_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-trash"></span>
      <%= t('library.item.show.delete_btn') %>
    <% end %>
  </div>
  <% end %>

  <div class="ppage-header text-center">
    <h1 class=""><%= @library_item.title %></h1>
    <!-- small><%= @library_item.subtitle %></small-->
    <div class="lib-item-subtitle"><%= @library_item.subtitle %></div>
    <div class="lib-item-abstract text-justify"><%= @library_item.abstract %></div>
  </div>


  <% if !@library_item.nil? && !@library_item.is_dir %>
  <div class="panel panel-default lib-item-files">
    <div class="panel-heading"><h3>Files</h3></div>
    <div class="list-group llib-item-files" id="lib-item-files-list">
      <%= render 'files_list' %>
    </div>

    <div class="panel-body">

      <% if @library_item_file && @can_edit %>
        <div class="lib-item-file-form">
        <h4>Add file</h4>
          <%= form_for @library_item_file, url: file_upload_library_item_path(@library_item), remote: true, html: { class: "form-horizontal", role: "form", multipart: true } do |f| %>
            <div class="form-group">
              <%= f.label :file_type, :class => "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.select :file_type, options_for_select(Library::ItemFile::FILETYPES, @library_item_file.file_type), :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :file, :class => "col-sm-2 control-label" %>
                <div class="col-sm-10">
              <%= f.file_field :file, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <%= f.submit class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
  <% end %>

<% end %>



<% if !@library_items.empty? || !@library_item.nil? && @library_item.is_dir || @library_item.nil? %>
<!-- hr-->

<section>

<% if @can_edit %>
<div class="btn-block text-right">
  <%= link_to new_library_item_path(@library_item ? {parent: @library_item.sid} : {}), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('library.item.show.new_item') %>
  <% end %>
  <%= link_to("javascript:;", class: 'btn btn-primary', "data-toggle": "modal", "data-target": "#importItemsModal") do %>
    <span class="glyphicon glyphicon-import"></span>
    <%= t('library.item.show.import_papers') %>
  <% end %>
  <%= link_to("javascript:;", class: 'btn btn-primary', "data-toggle": "modal", "data-target": "#importItemsModal2") do %>
    <span class="glyphicon glyphicon-import"></span>
    <%= t('library.item.show.import_conference') %>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="importItemsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          <%= t('library.item.show.modal.title') %>
        </h4>
      </div>
      <div class="modal-body" id="importItemsBody">
        <div class="row">
          <div class="col-sm-6 left-column" id="importItemsConfs">
            <div class="list-group">
              <% @confs_list.each do |c| %>
                <% if c['info'] && c['info']['title'] %>
                  <%= link_to conf_papers_library_items_path(library_item: (@library_item ? @library_item.sid : nil),  conf_id: c['_id']), remote: true, id: 'conf_'+c['_id'], class: "list-group-item" do %>
                    <p class="list-group-item-text">
                      <%= %w[en ru].map { |lang| c['info']['title'][lang].to_s }.join(' | ') %>
                    </p>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="col-sm-6 right-column" id="importItemsPapers">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t('library.item.show.modal.close') %>
        </button>
        <!--button type="button" class="btn btn-primary">Save changes</button-->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="importItemsModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
<%= form_tag import_conf_papers_library_items_path(library_item: (@library_item ? @library_item.sid : nil)), method: :post, remote: true do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2">
          <%= t('library.item.show.modal2.title') %>
        </h4>
      </div>
      <div class="modal-body2" id="importItemsBody2">
        <div class="rrow">
          <div class="ccol-sm-6 left-column" id="importItemsConfs2">
            <div class="list-group">
              <% @confs_list.each do |c| %>
                <% if c['info'] && c['info']['title'] %>
                  <%#= link_to conf_papers_library_items_path(library_item: (@library_item ? @library_item.sid : nil),  conf_id: c['_id']), remote: true, id: 'conf_'+c['_id'], class: "list-group-item" do %>
                    <p class="list-group-item list-group-item-text">
                      <%= radio_button_tag(:'conf_id', c['_id'], false, class: 'confs_list_radio_button') %>
                      <%= %w[en ru].map { |lang| c['info']['title'][lang].to_s }.join(' | ') %>
                    </p>
                  <%# end %>
                <% end %>
              <% end %>
            </div>
          </div>
          <!--div class="col-sm-6 right-column" id="importItemsPapers">
          </div-->
        </div>
      </div>
      <div class="modal-footer">

<div class="form-group">
<%= select_tag :lang, options_for_select([:en, :ru]), class: "form-control" %>
</div>

        <%= submit_tag t('library.item.show.modal2.import_selected'), class: "btn btn-primary" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t('library.item.show.modal2.close') %>
        </button>
        <!--button type="button" class="btn btn-primary">Save changes</button-->
      </div>
<% end %>
    </div>
  </div>
</div>



<% end %>


<div class="list-group lib-item-children" id="children_list">
<%= render 'show_children_list' %>
</div>


</section>

<% end %>

