/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * q= require_tree .
 * q= require_self
 */


//$navbar-height: 80px;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-variables.scss";
@import "bootstrap-sprockets";
@import "bootstrap";
//@import "bootstrap-generators";


//@import "themes/yeti/bootstrap"; $navbar-height: 45px;
//@import "themes/readable/bootstrap"; $navbar-height: 70px;
//@import "themes/paper/bootstrap"; $navbar-height: 70px;
//@import "themes/superhero/bootstrap"; $navbar-height: 45px;
//@import "themes/united/bootstrap"; $navbar-height: 55px;

//@import "themes/cyborg/bootstrap"; $navbar-height: 45px;
@import "themes/cerulean/bootstrap"; $navbar-height: 50px;
//@import "themes/spacelab/bootstrap"; $navbar-height: 55px;
//@import "themes/lumen/bootstrap"; $navbar-height: 55px;
//@import "themes/slate/bootstrap"; $navbar-height: 50px;

//@import "themes/simplex/bootstrap"; $navbar-height: 45px;
//@import "themes/sandstone/bootstrap"; $navbar-height: 60px;
//@import "themes/journal/bootstrap"; $navbar-height: 60px;
//@import "themes/flatly/bootstrap"; $navbar-height: 58px;
//@import "themes/darkly/bootstrap"; $navbar-height: 58px;
//@import "themes/cosmo/bootstrap"; $navbar-height: 52px;


body {
//  padding-top: $navbar-height + 10px;
  padding-top: $navbar-height + 0px;
}



@import "signin";


.form-horizontal, .page-header {
//  background-color: #eee;
//  opacity: 0.9;
}


//.form-horizontal .form-group {
//  margin-left: 0px;
//  margin-right: 0px;
//}


@import "main";

@import "library";



