
.btn-block {
	//border: solid thin red;
	//width: 100%;
	//align: right;
//  a.btn {
//    float: right;
//  }

  a.btn + a.btn {
//    margin-right: 8px;
    margin-left: 8px;
  }
}

.lib-item-abstract {
//	margin-bottom: 20px;
}

.lib-item-subtitle {
	margin-bottom: 30px;
	margin-top: 20px;
	font-size: 90%;
	font-weight: 600;
	font-style: italic;
}

.lib-item-children {
	margin-top: 20px;
}

.lib-item-files {
	margin-top: 20px;
}

.lib-item-file-form {
//	margin-top: 20px;
}



.modal-body .right-column {
    overflow-y: auto;
//    height: 100%;
//    text-overflow: clip;
//    overflow-y: scroll;
//    overflow-y: hidden;
//    max-height: 100%;
    max-height: 70vh;
//    max-height: inherited;
}

.modal-body .row {
//    overflow-y: auto;
    max-height: 100%;
//    text-overflow: clip;
//    overflow-y: scroll;
//    overflow-y: hidden;
}

.modal .modal-body {
//	border: red thin solid;
//    max-height: 70vh;
//    max-height: 520px;
//    max-height: 90%;
//    overflow-y: auto;
//    max-height: 100%;
}
.modal-body .left-column {
    overflow-y: auto;
//    max-height: 100%;
    max-height: 70vh;
 }

.modal-body2 .left-column {
    overflow-y: auto;
//    max-height: 100%;
    max-height: 60vh;
 }


//******************
/*
.modal .modal-body {
    max-height: 70vh;
//    max-height: 520px;
//    max-height: 90%;
//    overflow-y: auto;
//    max-height: 100%;
}

.modal-body .left-column {
    overflow-y: auto;
    max-height: 100%;
 }

//.modal .modal-content {
.modal .modal-dialog {
//    max-height: 70vh;
//    top: auto;
//    bottom: auto;
}

.modal-dialog {
//    max-height: 90%;
//    height: 90%;
}

//.modal { top:5%; bottom:5%; }
//.modal-body { mmax-height:100%; height:85%; }
*/


