body.main { 
//  background: url(http://files.surfory.com/uploads/2015/6/14/539fc88f017288097c6a609a/1280x/557d3b6c1f395d23698b4569.jpg) no-repeat center center fixed;
//  background: url(https://farm4.staticflickr.com/3879/14225234980_e1c53c3387_h.jpg) no-repeat center center fixed;
//  background: url(https://img-fotki.yandex.ru/get/9153/117585319.14/0_8ca18_f5b7fed2_orig) no-repeat center center fixed;

//!!!
  background: url(https://img-fotki.yandex.ru/get/9805/117585319.1f/0_9ca04_7428f052_orig) no-repeat center center fixed;
//  background: url(https://img-fotki.yandex.ru/get/9814/117585319.1f/0_9ca01_34870e59_orig) no-repeat center center fixed;
//  background: url(https://img-fotki.yandex.ru/get/9805/117585319.20/0_9ca14_6f115f4_orig) no-repeat center center fixed;

//background: url(https://img-fotki.yandex.ru/get/9262/117585319.17/0_8e01b_35220cb3_orig) no-repeat center center fixed;
//background: url(https://img-fotki.yandex.ru/get/9064/117585319.17/0_8e017_a6b39131_orig) no-repeat center center fixed;


//background: url(https://img-fotki.yandex.ru/get/9509/117585319.1a/0_945fb_d30f12ca_-1-orig) no-repeat center center fixed;
//background: url(https://img-fotki.yandex.ru/get/9348/117585319.1a/0_945f3_a798b7cc_orig) no-repeat center center fixed;
//background: url(https://img-fotki.yandex.ru/get/4902/117585319.1a/0_945f2_bdca6005_orig) no-repeat center center fixed;
//background: url(https://img-fotki.yandex.ru/get/9500/117585319.1a/0_945f1_58cc3acf_orig) no-repeat center center fixed;

//background: url(http://files.surfory.com/uploads/2014/9/20/53274987017288915b1d9244/1280x/541dcb811f395d857f8b4578.jpg) no-repeat center center fixed;

//background: url(http://files.surfory.com/uploads/2014/5/25/53274987017288915b1d9244/1280x/538154ad017288e2765c6bb1.jpg) no-repeat center center fixed;
//background: url(http://files.surfory.com/uploads/2014/5/25/53274987017288915b1d9244/1280x/538116bc017288df6f5c6bb1.jpg) no-repeat center center fixed;


//background: url(http://files.surfory.com/uploads/2014/5/26/53274987017288915b1d9244/1280x/538398d1017288830e616756.jpg) no-repeat center center fixed;
//!!!
//background: url(http://files.surfory.com/uploads/2014/5/26/53274987017288915b1d9244/1280x/5382935c0172881764616756.jpg) no-repeat center center fixed;
//background: url(http://files.surfory.com/uploads/2014/5/30/53274987017288915b1d9244/1280x/5387d0d6017288d736616756.jpg) no-repeat center center fixed;
//background: url(http://files.surfory.com/uploads/2014/5/29/53274987017288915b1d9244/1280x/53867ad5017288046c616756.jpg) no-repeat center center fixed;
//background: url(http://files.surfory.com/uploads/2014/6/6/53274987017288915b1d9244/1280x/53912bc701728820268b4567.jpg) no-repeat center center fixed;



//background: url() no-repeat center center fixed;



  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;



  .navbar {
    opacity: 0.9;
  }

  .pricing {
  //  opacity: 0.95;
  //  background-color: #eee;
  }
  .pricing-table {
    opacity: 0.95;
  }

  //.pricing-footnote {
  //  margin: 10px auto;
  //  background-color: #eee;
  //  opacity: 0.9;
  //}

  .value-prop {
  //  min-height: 50%;
  //  padding: 30px;
  //  margin: 0px auto;
  //  background-color: #07e;
  //  opacity: 0.9;
  }

  .value-prop-block {
  //  max-width: 330px;
    padding: 30px;
    margin: 0px auto;
    background-color: #07e;
    opacity: 0.9;
  }



}


